body {
    
}

.wrapper {
    
    width: ;
    height: ;
    
}

.container {
    
}

.log-text {
    color: rgb(138, 43, 226);
}

.form {
    
}

.input {
    border: none;
    color: black;
    border-radius: 15px;
    width: 200px;
    height: 30px;
}

.checkbox {
    cursor: pointer;
}

.remember {
    color: rgb(138, 43, 226);
}

.log-acc {
    color: rgb(138, 43, 226);
}

.btn-log {
    background-color: rgb(138, 43, 226);
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border-color: black;
    width: 90px;
    height: 40px;
    cursor: pointer;
}
.btn-log:hover {
    background-color:white;
    color: rgb(138, 43, 226);
    border-color: rgb(138, 43, 226);
}

.forget {
    color: rgb(138, 43, 226);
    text-decoration: none;
    cursor: pointer;
}