* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Inter', sans-serif;
    
}

.wrapper {
    width: 360px;
    min-height: 370px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1); /* напівпрозорий фон */
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);          /* розмиття */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
    border-radius: 20px;
    
}

label {
    /* display: none; - погано для доступності (accessibility). */ 

    position: absolute;
    opacity: 0;
    pointer-events: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

h1 {
    font-size: 36px;
    color: #ffffff;
}

input {
    width: 100%;
    min-width: 260px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Inter', sans-serif;
    
}

.btn {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.btn:hover {
    background-color: #09efa2;
    color: #ffffff;
}

p, a {
    font-size: 18px;
    text-decoration: none;
}

a {
    cursor: pointer;
    color: rgb(13, 13, 235);
}