* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/img/background.jpg");
    background-size: cover;
    font-family: 'Inter', sans-serif;
    
}

.wrapper {
    width: 360px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1); /* напівпрозорий фон */
    backdrop-filter: blur(10px);          /* розмиття */
    -webkit-backdrop-filter: blur(10px);  /* для Safari */
    border-radius: 20px;
}

label {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

h1 {
    font-size: 36px;
    color: #ffffff;
}

input {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px
}

.btn {
    width: 100px;
    height: 30px;
    background-color: aquamarine;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(9, 239, 162);
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
}